/* CSS */

.navbar-brand {
    margin-right: 30px;
}

.banner {
    height: 350px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

/* card info */
.border-shadow {
    border: 1px solid #eee;
}

/* CAROUSEL */
.carousel-item {
    filter: grayscale(100%);
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

/* section height */
.height{
    height: 430px;
}

/* Courses */
#courses {
    min-height: 650px;
}

footer {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

footer h4 {
    padding-bottom: 1.2rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
}

footer a:hover {
    text-decoration: none;
}

.avatar-mini {
    width: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
}

/* Comments */

.avatar-comments {
    width: 60px;
    border-radius: 50%;
}

.media-border:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px lightgray solid;
}

/* details */
.img-float + p img{
    float: left;
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
}

/* admin course */

.admin-img {
    width: 100px;
}

#myTable_paginate ul {
    margin:  40px 100px 0 0;
}

.align {
    padding-left: 3.4rem;
}

/*Vich */
.vich-image img {
    padding-top: 10px;
    width: 150px;
}