{% extends 'admin/base.html.twig' %}
{% block title %} Nouvelle formation {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="my-3 col-md-8 offset-md-1">
                <h1 class="m-4">Ajouter une formation</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Création de la formation</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}