{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="my-3 col-md-8 offset-md-1">
                <h2 class="m-4">Modification de la formation : {{ course.name }}</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Modification de la formation</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}